---
import { getCollection } from "astro:content";
import BlogLink from "../../components/BlogLink.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const blogEntries = await getCollection("posts");
const allTags: string[] = [
  ...new Set(blogEntries.map(post => post.data.tags).flat()),
];

const pageTitle = "Tags Index";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Tags</p>
  <ul class='tags'>
    {
      allTags?.map(tag => {
        return (
          <li class='tag'>
            <BlogLink title={tag} url={`tags/${tag}`} />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
