---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogLink from "../components/BlogLink.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("posts");

const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blog Me</h1>
  <h2>... and my new Astro site!</h2>

  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      blogEntries.map(entry => {
        return (
          <li>
            <BlogLink
              url={`${entry.collection}/${entry.slug}`}
              title={entry.data.title}
            />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
